# Created by .ignore support plugin (hsz.mobi)
#files
git.properties

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### OSX template
.DS_Store


### Java template
*.class


# Package Files #
*.jar
*.war

#maven
target/

